
/*footer*/
.footer{
    display: table-row;
    margin-bottom: 0;
  }
  .rectangle-footer{
    display: flex;
    justify-content: space-between;
    background-color: #ffd37f;
    padding: 30px 0 40px 0;
  }
  
  .logo-footer{
    margin-left: 150px;
    background-image: url(../img/logotype_finish1.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 270px;
    height: 150px;
    font-size: 1px;
  }
  .logo-footer:hover{
    background-image: url(../img/logotype_finish2.png);
    transition: .5s;
  }
  
  .footer-info-bloc{
    display: flex;
    justify-content: space-between;
  }
  .footer-card{
    margin: 0;
    margin-right: 150px;
  }
  
  .footer-title {
    font-family: bebas neue;
    font-size: 27px;
    font-weight: bold;
    text-align: left;
    color: #c72b00;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: .7s;
  }
  
  .footer-title:hover{
    color: #fff;
  }
  
  .footer-p{
    margin: 0;
    line-height: 34px;
    font-size: 24px;
  }
  
  .footer-wrapper{
    margin: 0;
    margin-top: 10px;
  }