/* HEADER */
.main_header {
  width: 100%;
  height: 100vh;
  background-image: url('../img/1.jpg');
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main_header_preview {
  width: 700px;
  height: 123.5px;
  background-color: #FFCE55;
  display: flex;
  align-items: center;
  padding-left: 18px;
}

.main_header_preview--circle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #5585FF;
  margin-right: 23px;
}

.main_header_preview--title {
  font-family: Lato sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 39px;
  line-height: 47px;
  text-transform: uppercase;
  color: #FFFFFD;
}

.main_header_title {
  padding-left: 80px;
  padding-right: 40px;
  margin: 0;
}

.main_header_title h1 {
  font-family: Lato sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 130px;
  line-height: 186px;
  text-transform: uppercase;
  color: #FFFFFD;
  margin: 0;
  width: auto;
}

/* PREVIEW */

.main_preview--wrapper {
  width: 100%;
  display: flex;
  padding: 125px 95px 0px 87px;
  justify-content: center;
}

.main_preview--container {
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 1800px;
}

.main_preview--circle {
  width: 480px;
  height: 480px;
  border-radius: 50%;
  background-color: #FFCE55;
  position: absolute;
  z-index: -1;
  top: 400px;
  right: 600px;
}

.main_preview--text_1,
.main_preview--text_2 {
  width: 100%;
  display: flex;
}

.main_preview--text_1 {
  justify-content: flex-start;
  margin-bottom: 170px;
}

.main_preview--text_2 {
  justify-content: flex-end;
}

.main_preview--text_1 p {
  width: 909px;
  font-family: Gothic A1 sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 48px;
  color: #000;
}

.main_preview--text_2 p {
  width: 1367px;
  font-family: Gothic A1 sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 62px;
  text-align: right;
  color: #000;
}

.main_preview--divider {
  margin-top: 200px;
  margin-bottom: 200px;
  width: 100%;
  height: 2px;
  background-color: #5585FF;
}