body{
    margin: 0 auto;
}

@media all and (max-width: 700px){
    .main-inner{
        width: 100%;
        max-width: 600px;
      }
}

header label:hover{
    cursor: pointer;
}

.menu{
    width: 50px;
    padding: 15px 0 0 15px ;
}

header label {
    display: block;

    height: 50px;
    padding: 0 40px 0 10px;
}

.nav{
    position: absolute;
    width: 200px;
    right: -450px;
    transition: all 0.9s;
    background-color: #ffd37f;
    padding: 0 0 15px 0;
}

.nav ul{
    flex-direction: column;
}

.nav-link:not(:last-child){
    padding-bottom: 10px;
}

#dws-menu:checked ~ .nav {
    margin:0;
    right: 20px;
    margin-top: 50px;
    text-align: right;

}

.bank ul, li {
   flex-grow: 3;
   text-align: center; 
}