@font-face {
    font-family: Gothic A1 sans-serif;
	src: url('fonts/GothicA1-Regular.ttf');
	src: local('☺'), url('../fonts/gothic-regular.woff') format('woff'), url('../fonts/gothic-regular.woff2') format('woff2'), url('fonts/GothicA1-Regular.ttf') format('truetype'), url('fonts/GothicA1-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {   
	font-family: Gothic A1 sans-serif;
	src: url('fonts/GothicA1-Medium.ttf');
	src: local('☺'), url('../fonts/gothic-medium.woff') format('woff'), url('../fonts/gothic-medium.woff2') format('woff2'), url('fonts/GothicA1-Medium.ttf') format('truetype'), url('fonts/GothicA1-Medium.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: Gothic A1 sans-serif;
	src: url('fonts/GothicA1-Bold.ttf');
	src: local('☺'), url('../fonts/gothic-bold.woff') format('woff'), url('../fonts/gothic-bold.woff2') format('woff2'), url('fonts/GothicA1-Bold.ttf') format('truetype'), url('fonts/GothicA1-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: Gothic A1 sans-serif;
	src: url('fonts/GothicA1-Light.ttf');
	src: local('☺'), url('../fonts/gothic-light.woff') format('woff'), url('../fonts/gothic-light.woff2') format('woff2'), url('fonts/GothicA1-Light.ttf') format('truetype'), url('fonts/GothicA1-Light.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
    font-family: Lato sans-serif;
    src: url('fonts/Lato-Light.ttf');
	src: local('☺'), url('../fonts/lato-light.woff') format('woff'), url('../fonts/lato-light.woff2') format('woff2'), url('fonts/Lato-Light.ttf') format('truetype'), url('fonts/GothicA1-Light.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
    font-family: Lato sans-serif;
    src: url('fonts/Lato-Regular.ttf');
	src: local('☺'), url('../fonts/lato-regular.woff') format('woff'), url('../fonts/lato-regular.woff2') format('woff2'), url('fonts/Lato-Regular.ttf') format('truetype'), url('fonts/Lato-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
    font-family: Lato sans-serif;
    src: url('fonts/Lato-Bold.ttf');
	src: local('☺'), url('../fonts/lato-bold.woff') format('woff'), url('../fonts/lato-bold.woff2') format('woff2'), url('fonts/Lato-Bold.ttf') format('truetype'), url('fonts/Lato-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}


* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
	width: 0;
}

address{
	font-style: normal;
}

body {
	margin: 0 auto;
	padding: 0 100px;
	font-family: Gothic A1 sans-serif;
	font-weight: 400;
	font-size: 30px;
	line-height: 1;
	width: 100%;
	display: table;
	line-height: 38px;
}

a {
	text-decoration: none;
	color:inherit;
}

ul, ol{
	list-style-type: none;
	padding: 0;
	margin: 0 auto;
}

h1{
	font-family: Lato sans-serif;
	font-size: 160px;
	text-transform: uppercase;
	font-weight: 300;
	line-height: 160px;
}

h2{
	font-family: Lato sans-serif;
	font-size: 124px;
	font-weight: 700;
	line-height: 130px;
}

h3{
    font-family: Lato sans-serif;
	font-size: 86px;
	font-weight: 400;
	line-height: 100px;
}

h4{
    font-family: Lato sans-serif;
	font-size: 62px;
	font-weight: 400;
	line-height: 80px;
}

h5{
    font-family: Lato sans-serif;
	font-size: 54px;
	font-weight: 400;
	line-height: 60px;
}

.bold{
	font-family: Gothic A1 sans-serif;
	font-size: 26px;
	font-weight: 700;
}

.medium{
	font-family: Gothic A1 sans-serif;
	font-size: 40px;
	font-weight: 500;
}


